<h1>注文詳細</h1>

<p>商品名: <%= @order.name %></p>
<p>価格: <%= number_to_currency(@order.price, unit: "¥") %></p>

<div style="margin-top: 20px;">
  <%= link_to '戻る', @order.present? ? order_path(@order) : orders_path, class: 'btn btn-primary' %>
</div>
